div {
  background-color: white;
  border: 2px solid black;
  padding: 200px;
  gap: 5px;
  display: flex;
  justify-content: center
  align-items: center
  
  

}
.lasagna {
  padding: 20px;
  text-align: center;
  background-color: rgb(153, 218, 238);
  color: rgb(4, 34, 34);
  height: ;
  flex: 1;
}
.Lo_Mein {
  padding: 20px;
  text-align: center;
  background-color: rgb(153, 218, 238);
  color: rgb(4, 34, 34);
  flex: 1;

}
.Chicken_Normandy {
  padding: 20px;
  text-align: center;
  background-color: rgb(153, 218, 238);
  color: rgb(4, 34, 34);
  flex: 1;

}
h1 {
  text-align: center;

}